<!DOCTYPE html>
<html ng-app="jsPassword">
  <head>
    <title>Hello Node-webkit!</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="mdl/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body ng-controller="AppController">
    <div id="lock-screen" ng-controller="LockScreenController" ng-class="{open: open}">
      <div class="left-side">
      </div>

      <div class="right-side">
        <i class="material-icons">lock_outline</i>
        <form>
          <div class="mdl-textfield mdl-js-textfield" ng-class="{'is-invalid': masterPasswordError}">
            <input ng-keypress="keypressed($event)" class="mdl-textfield__input" type="password" ng-model="masterPassword" />
            <label class="mdl-textfield__label">Master password</label>
            <span class="mdl-textfield__error">Can't be blank! (pst... put some random text ;)</span>
          </div>
        </form>
      </div>
    </div>


    <div id="main-container">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon"
                   for="fixed-header-drawer-exp">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder" ng-controller="SearchBar">
              <form ng-submit="filter()">
                <input class="mdl-textfield__input" type="text" Name="sample"
                       id="fixed-header-drawer-exp" ng-model="searchValue" />
              </form>
            </div>
          </div>
        </div>
      </header>

      <aside id="main-column" class="mdl-components__nav docs-text-styling mdl-shadow--4dp" ng-controller="MainColumn">
        <h3 class="mdl-layout-title">Vault</h3>
        <nav>
          <a href="" ng-click="showAllEntries()"><i class="material-icons">home</i> All the entries</a>
          <a href="" ng-click="showFavoriteEntries()"><i class="material-icons">stars</i> Favorites</a>
        </nav>
      </aside>

      <main class="mdl-layout__content">
        <div id="secondary-column" ng-controller="SecondaryColumn">
          <ul>
            <li ng-repeat="(letter, entries) in entries">
              <h5 class="group-title">{{letter.toUpperCase()}}</h5>
              <ul class="entries">
                <li class="entry" ng-repeat="entry in entries" ng-click="selectEntry(entry.id)">{{entry.data.Name.value}}</li>
              </ul>
            </li>
          </ul>
        </div>

        <div id="entry-column" ng-controller="EntryColumn">
          <section ui-view></section>
        </div>
      </main>
    </div>

    <script src="bower_components/storedb/storedb.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="mdl/material.min.js"></script>

    <script src="js/app.js"></script>
    <script src="services/db.js"></script>
    <script src="services/entries-collection.js"></script>
    <script src="controllers/app-controller.js"></script>
    <script src="controllers/lock-screen.js"></script>
    <script src="controllers/search-bar.js"></script>
    <script src="controllers/main-column.js"></script>
    <script src="controllers/secondary-column.js"></script>
    <script src="controllers/entry-column.js"></script>
    <script src="controllers/empty-entry-column.js"></script>
    <script src="js/routes.js"></script>
  </body>

</html>
