<div class="actions">
  <a ng-href="#/entry/{{entryId}}/edit" id="entry-button-edit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    <i class="material-icons">mode_edit</i>
  </a>
</div>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <tbody>
    <tr ng-repeat="(key, val) in entry">
      <td>{{key}}</td>

      <td ng-if="val.type == 'boolean'">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
          <input type="checkbox" class="mdl-switch__input" ng-model="val.value" disabled="true" />
        </label>
      </td>

      <td ng-if="val.type != 'boolean'">{{val.value}}</td>
    </tr>
  </tbody>
</table>

<button ng-click="addNewEntry()" id="add-new-entry-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button>
